NET "CLK" LOC = P126; #LOC = B8;
NET "CLR_Tx" LOC = P124	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #LOC = A7;
NET "CLR_Rx" LOC = P123	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #LOC = M4;
NET "Data_Tx[0]" PULLUP; #LOC = P11;
NET "Data_Tx[1]" PUllUP; #LOC = L3;
NET "Data_Tx[2]" PULLUP; #LOC = K3;
NET "Data_Tx[3]" PULLUP; #LOC = B4;
NET "Data_Tx[4]" PULLDOWN; #LOC = G3;
NET "Data_Tx[5]" PULLDOWN; #LOC = F3;
NET "Data_Tx[6]" PULLDOWN; #LOC = E2;
NET "Data_Tx[7]" PULLDOWN; #LOC = N3;
NET "Data_Rx[0]" LOC = P119	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #LOC = M5;
NET "Data_Rx[1]" LOC = P118	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #LOC = M11;
NET "Data_Rx[2]" LOC = P117	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #LOC = P7;
NET "Data_Rx[3]" LOC = P116	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #LOC = P6;
NET "Data_Rx[4]" LOC = P115	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #LOC = N5;
NET "Data_Rx[5]" LOC = P114	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #LOC = N4;
NET "Data_Rx[6]" LOC = P112	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #LOC = P4;
NET "Data_Rx[7]" LOC = P111	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #LOC = G1;
NET "Rx" LOC = P33      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 5 #LOC = A9;   
NET "Tx" LOC = P32      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; #Pin 6 #LOC = B9;   
