

NET "CLK" LOC = B8;
NET "CLR" LOC = A7;
NET "CLR_Rec" LOC = M4;
NET "Data_Tx[0]" LOC = P11;
NET "Data_Tx[1]" LOC = L3;
NET "Data_Tx[2]" LOC = K3;
NET "Data_Tx[3]" LOC = B4;
NET "Data_Tx[4]" LOC = G3;
NET "Data_Tx[5]" LOC = F3;
NET "Data_Tx[6]" LOC = E2;
NET "Data_Tx[7]" LOC = N3;
NET "Data_Rx[0]" LOC = M5;
NET "Data_Rx[1]" LOC = M11;
NET "Data_Rx[2]" LOC = P7;
NET "Data_Rx[3]" LOC = P6;
NET "Data_Rx[4]" LOC = N5;
NET "Data_Rx[5]" LOC = N4;
NET "Data_Rx[6]" LOC = P4;
NET "Data_Rx[7]" LOC = G1;
NET "parity_err" LOC = N13;
NET "Rx" LOC = A9;
NET "Tx" LOC = B9;
